.exchange {
  width: 100%;
  margin: 0.5em auto;
  padding: 0.8em 1em;
  box-shadow: 0 0 5px 0px #717171;
  border-radius: 5px;
  background-color: #f9f7fd;
}

.exchange h2 {
  font-size: 1.1em;
}

.exchange button {
  font-size: 0.5em;
  margin: 0 0.2em;
}

.exchange header {
  display: flex;
  justify-content: space-between;
}

.exchange header span {
  font-size: 0.9em;
}

.exchange header div {
  display: flex;
  align-items: center;
}

.exchange header div:nth-child(1) {
  flex-grow: 4;
}

.exchange header div:nth-child(2) {
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.7em;
  flex-grow: 1;
}

.exchange header img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #1b1b1b;
  margin-right: 0.5em;
}

.exchange main {
  margin: 0.5em 0.2em;
}

.exchange main .exchange-pairs-container {
  display: flex;
  flex-wrap: wrap;
}

.exchange main .textarea-wrap {
  margin-top: 1em;
  position: relative;
}

.exchange .textarea-wrap div:first-child {
  position: absolute;
  bottom: 6px;
  left: 1px;
}

.exchange .textarea-wrap button {
  margin: 0;
  background: #4c00c1;
  color: #ffffff;
  font-size: 0.4em;
  border: 1px solid #a272ff;
  text-transform: uppercase;
}

.exchange .textarea-wrap textarea {
  width: 100%;
  min-height: 110px;
  padding: 0.2em 0.5em;
  box-shadow: rgb(109, 109, 109) 0px 0px 1px;
  border-radius: 3px;
  resize: vertical;
}

.exchange footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.exchange footer span {
  font-size: 0.5em;
}