.exchange {
  width: 100%;
  margin: 0.5em auto;
  padding: 0.8em 1em;
  box-shadow: 0 0 5px 0px #717171;
  border-radius: 5px;
  background-color: #f9f7fd;
}

.exchange h2 {
  font-size: 1.1em;
}

.exchange button {
  font-size: 0.5em;
  margin-right: 0.2em;
}

.exchange header {
  display: flex;
  justify-content: space-between;
}

.exchange header span {
  font-size: 0.9em;
}

.exchange header div {
  display: flex;
  align-items: center;
}

.exchange header div:nth-child(1) {
  flex-grow: 4;
}

.exchange header div:nth-child(2) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 0.6em;
  flex-grow: 1;
}

.exchange header a {
  font-size: 0.4em;
}

.exchange header img {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #1b1b1b;
  margin-right: 1.2em;
}

.exchange main {
  margin: 0.5em 0;
}

.exchange main .exchange-pairs-container {
  display: flex;
  flex-wrap: wrap;
}

.exchange footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.exchange footer span {
  font-size: 0.5em;
}